<!-- /src/app/home/home.component.html -->
<main>
  <section class="banners">
    <div>
      <img src="/assets/images/bug1.png" alt="Red Bug" />
    </div>
    <div>
      <img src="/assets/images/bug2.png" alt="Green Bug" />
    </div>
    <div>
      <img src="/assets/images/bug3.png" alt="Blue Spotted Bug" />
    </div>
    <div>
      <img src="/assets/images/bug4.png" alt="Ladybug" />
    </div>
  </section>
  <section class="product-area">
    <app-product-list [bugs]="items"></app-product-list>
  </section>
</main>
